snippet trenner                                                                                                                                                     
	/* -------------------------------------------------------------------------- */
snippet error_reporting
	error_reporting(E_ALL); ini_set('display_errors', 'On'); restore_error_handler();
