[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/plugins/start/vim-markdown"]
	path = pack/plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/plugins/start/delimitMate"]
	path = pack/plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/plugins/start/vim-freepascal"]
	path = pack/plugins/start/vim-freepascal
	url = https://github.com/boeckmann/vim-freepascal.git
[submodule "pack/plugins/start/vim-signature"]
	path = pack/plugins/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "pack/plugins/start/vim-gutentags"]
	path = pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/plugins/start/vim-abolish"]
	path = pack/plugins/start/vim-abolish
	url = https://github.com/tpope/tpope-vim-abolish.git
[submodule "pack/plugins/start/vim-snipmate"]
	path = pack/plugins/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "pack/plugins/start/tlib_vim"]
	path = pack/plugins/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pack/plugins/start/vim-addon-mw-utils"]
	path = pack/plugins/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "pack/plugins/start/vim-snippets"]
	path = pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/plugins/start/tagbar-phpctags.vim"]
	path = pack/plugins/start/tagbar-phpctags.vim
	url = https://github.com/vim-php/tagbar-phpctags.vim.git
[submodule "pack/plugins/start/vim-mustache-handlebars"]
	path = pack/plugins/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/plugins/start/gopher.vim"]
	path = pack/plugins/start/gopher.vim
	url = https://github.com/seanyeh/gopher.vim.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/nerdtree-git-plugin"]
	path = pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/plugins/start/dracula-color-schema"]
	path = pack/plugins/start/dracula-color-schema
	url = git@github.com:dracula/vim.git
[submodule "pack/plugins/start/night-owl-color-schema"]
	path = pack/plugins/start/night-owl-color-schema
	url = https://github.com/haishanh/night-owl.vim.git
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/plugins/start/php.vim"]
	path = pack/plugins/start/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-rails"]
	path = pack/plugins/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/plugins/start/vim-endwise"]
	path = pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "pack/plugins/start/FastFold"]
	path = pack/plugins/start/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "pack/plugins/start/vim-racket"]
	path = pack/plugins/start/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "pack/plugins/start/rainbow_parentheses.vim"]
	path = pack/plugins/start/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim.git
[submodule "pack/plugins/start/vim-matchup"]
	path = pack/plugins/start/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "pack/plugins/start/Colorizer"]
	path = pack/plugins/start/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
