[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-markdown"]
	path = pack/plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/plugins/start/vim-signature"]
	path = pack/plugins/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "pack/plugins/start/vim-abolish"]
	path = pack/plugins/start/vim-abolish
	url = https://github.com/tpope/tpope-vim-abolish.git
[submodule "pack/plugins/start/vim-addon-mw-utils"]
	path = pack/plugins/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/plugins/start/night-owl-color-schema"]
	path = pack/plugins/start/night-owl
	url = https://github.com/haishanh/night-owl.vim.git
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/plugins/start/vim-endwise"]
	path = pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "pack/plugins/start/FastFold"]
	path = pack/plugins/start/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "pack/plugins/start/vim-which-key"]
	path = pack/plugins/start/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "pack/plugins/start/vim-signify"]
	path = pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/plugins/start/vim-doge"]
	path = pack/plugins/start/vim-doge
	url = https://github.com/kkoomen/vim-doge.git
[submodule "pack/plugins/start/rainbow_parentheses.vim"]
	path = pack/plugins/start/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim.git
[submodule "pack/plugins/start/tlib_vim"]
	path = pack/plugins/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pack/plugins/start/vim-vue-plugin"]
	path = pack/plugins/start/vim-vue-plugin
	url = https://github.com/leafOfTree/vim-vue-plugin.git
[submodule "pack/plugins/start/dracula.vim"]
	path = pack/plugins/start/dracula.vim
	url = https://github.com/dracula/vim.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/delimitMate"]
	path = pack/plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/plugins/start/bufexplorer"]
	path = pack/plugins/start/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule "pack/plugins/start/conflict-marker.vim"]
	path = pack/plugins/start/conflict-marker.vim
	url = git@github.com:rhysd/conflict-marker.vim.git
[submodule "pack/plugins/start/vim-colors-xcode"]
	path = pack/plugins/start/vim-colors-xcode
	url = https://github.com/arzg/vim-colors-xcode.git
[submodule "pack/plugins/start/vim-racket"]
	path = pack/plugins/start/vim-racket
	url = git@github.com:benknoble/vim-racket.git
[submodule "pack/plugins/start/zepl.vim"]
	path = pack/plugins/start/zepl.vim
	url = git@github.com:axvr/zepl.vim.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/plugins/start/python-indent.vim"]
	path = pack/plugins/start/python-indent.vim
	url = git@github.com:hattya/python-indent.vim.git
[submodule "pack/plugins/start/vim-closetag"]
	path = pack/plugins/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "pack/plugins/start/yats.vim"]
	path = pack/plugins/start/yats.vim
	url = git@github.com:HerringtonDarkholme/yats.vim.git
[submodule "pack/plugins/start/editorconfig-vim"]
	path = pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/plugins/start/vim-rainbow-trails"]
	path = pack/plugins/start/vim-rainbow-trails
	url = git@github.com:sedm0784/vim-rainbow-trails.git
[submodule "pack/plugins/start/vim-sleuth"]
	path = pack/plugins/start/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
